.posts {
    color: black;
}

.container {
    max-width: 1200px;
    margin: 5px auto;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.posts__image {
    width: 50px;
    margin: 10px;
}

.posts__author {
    font-weight: bold;
}