.containerProfile {
    max-width: 1200px;
    margin: 0 auto;
}

.profile__flexContainer {
    display: flex;
    justify-content: space-between;
}

.profile__avatar {
    width: 115px;
    border-radius: 5px;
    object-fit: cover;
}

.profile__information {
    width: 500px;
    color: white;
}

.name {
    font-size: 32px;
    color: white;
}