.profile {
    background-color: #F9CB00;
}

.containerProfile {
    max-width: 1200px;
    margin: 0 auto;
}

.profile__flexContainer {
    display: flex;
    justify-content: space-between;
}

.profile__avatar {
    width: 115px;
}

.profile__information {
    width: 500px;
    color: white;
}

.name {
    font-size: 32px;
    color: white;
}