.header {
    height: 6vh;
    width: 100%;
}

.header__logo {
    height: 6vh;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__login {
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__settings {
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header__title {
    color: white;
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
    cursor: pointer;
}

.header__contentUnvisible {
    display: block;
    opacity: 0;

    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 5px;

    transition: .2s;
}

.header__contentVisible {
    display: block;
    opacity: 1;
    height: 90px;
    padding: 15px;

    background-color: #DDD;

    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 5px;

    transition: .2s;
}

.header__logout {
    display: block;
    margin: 0 auto 5px;
}

.header__border {
    border-left: none;
    border-right: none;
    border-bottom: none;

}