.header {
    height: 60px;
    width: 100%;
    background-color: #F9CB00;
}

.header__logo {
    height: 60px;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__login {
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__settings {
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header__title {
    color: white;
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
    cursor: pointer;
}

.header__contentUnvisible {
    display: none;
}

.header__contentVisible {
    display: block;
    height: 225px;
    padding: 5px;

    background-color: white;

    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 5px;
}

.header__label {
    display: block;
}

.header__colorSchemes {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.header__bgColorYellow {
    background-color: #F9CB00;
}

.header__bgColorBlack {
    background-color: #0D0A0E;
}

.header__bgColorGold {
    background-color: #E9B100;
}

.header__bgColorOrange {
    background-color: #FF6A22;
}

.header__bgColorPink {
    background-color: #FF6A71;
}

.header__bgColorBlue {
    background-color: #82B2BB;
}

.header__bgColorGreen {
    background-color: #47BA7E;
}

.header__bgColorIndigo {
    background-color: #276899;
}