.footer {
    background-color: #276899;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FF6A71;
}

.footer__link {
    text-decoration: none;
    color: white;
}

.footer__link--active {
    color: deeppink;
}