.footer {
    background-color: #276899;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.footer__link {
    text-decoration: none;
    color: black;
}

.footer__link--active {
    color: deeppink;
}