@import 'media.css';

.App {

}

.wrapper {
    padding: 10px;
    min-height: calc(100vh - 6vh - 31px - 10px - 10px - 31px);
}

.container {
    max-width: 1200px;
    margin: 5px auto;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.header__container {
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    position: relative;
    justify-content: space-around;
    background-color: transparent;
}

.header__logo {
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__title {
    color: white;
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
    cursor: pointer;
}

.header__settings {
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav__container {
    margin: 0 auto;
    background-color: #33393F;
    justify-content: space-evenly;
}

/* Authentication */
.authentication__error {
    color: red;
}

.middle-avatar {
    width: 100px;
}

.small-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px;
}

.flex-container {
    display: flex;
}

.user {
    background-color: transparent;
}

.user__container {
    position: relative;
    margin: 0 auto;
    padding: 5px;
}

.user__wrapper {
    background-color: #33393F;
    margin: 0 0 5px;
    padding: 5px;
}

.user__name {
    margin: auto 0;
}

.links {
    text-decoration: none;
    color: white;
}

.texAlCenter {
    text-align: center;
}

.buttons {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: calc(50% - 8px);
}

.button {
    padding: 5px;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
}

.button:focus {
    outline: 0;
}

/* background-colors */
.bgColorGray {
    background-color: #DDD;
    transition: .2s;
}
.bgColorDefault {
    background-color: #276899;
    transition: .2s;
}

.bgColorYellow {
    background-color: #F9CB00;
    transition: .2s;
}

.bgColorBlack {
    background-color: #0D0A0E;
    transition: .2s;
}

.bgColorGold {
    background-color: #E9B100;
    transition: .2s;
}

.bgColorOrange {
    background-color: #FF6A22;
    transition: .2s;
}

.bgColorPink {
    background-color: #FF6A71;
    transition: .2s;
}

.bgColorBlue {
    background-color: #82B2BB;
    transition: .2s;
}

.bgColorGreen {
    background-color: #47BA7E;
    transition: .2s;
}

.bgColorIndigo {
    background-color: #276899;
    transition: .2s;
}

/* font colors */
.colorDefault {
    color: #276899;
    transition: .2s;
}

.colorYellow {
    color: #F9CB00;
    transition: .2s;
}

.colorBlack {
    color: #0D0A0E;
    transition: .2s;
}

.colorGold {
    color: #E9B100;
    transition: .2s;
}

.colorOrange {
    color: #FF6A22;
    transition: .2s;
}

.colorPink {
    color: #FF6A71;
    transition: .2s;
}

.colorBlue {
    color: #82B2BB;
    transition: .2s;
}

.colorGreen {
    color: #47BA7E;
    transition: .2s;
}

.colorIndigo {
    color: #276899;
    transition: .2s;
}

/* border colors */
.btDefault {
    border: 2px solid #276899;
    transition: .2s;
}

.btYellow {
    border: 2px solid #F9CB00;
    transition: .2s;
}

.btBlack {
    border: 2px solid #0D0A0E;
    transition: .2s;
}

.btGold {
    border: 2px solid #E9B100;
    transition: .2s;
}

.btOrange {
    border: 2px solid #FF6A22;
    transition: .2s;
}

.btPink {
    border: 2px solid #FF6A71;
    transition: .2s;
}

.btBlue {
    border: 2px solid #82B2BB;
    transition: .2s;
}

.btGreen {
    border: 2px solid #47BA7E;
    transition: .2s;
}

.btIndigo {
    border: 2px solid #276899;
    transition: .2s;
}

.btn {
    color: #666;
    background-color: #f3f0f1;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
    padding: 10px 30px;
    border-radius: 5px;
    border-bottom-width: 3px;
    position: relative;
    transition: all 0.1s ease-in-out;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
    border: none;
}

.btn:focus {
    outline: 0;
}

.btn:hover {
    opacity: 0.7;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.btn:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
}

.br5 {
    border-radius: 5px;
}

.profile__container {
    justify-content: space-between;
    background-color: transparent;
    border-radius: 0;
}

.profile__name {
    font-size: 32px;
    color: white;
    margin: 0;
}

.m15 {
    margin: 15px;
}

.message {
    margin: 0 0 5px;
}

.message--incoming {
    justify-content: flex-start;
}

.message-outgoing {
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.message__container {
    background-color: #33393F;
    color: white;
    padding: 5px;
}

.message__text {
    margin: auto 2px;
}

.message__time {
    margin: 2px;
    align-self: flex-end;
}

.post__container {
    position: relative;
}

.post__text {
    margin: auto 5px;
}

.post__time {
    position: absolute;
    right: 25px;
    top: calc(50% - 11px);
}

.post__button {
    flex-grow: 1;
    margin: auto;
}

.footer__container {
    background-color: #33393F;
}

.footer__link {
    text-decoration: none;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/