.App {

}

.wrapper {
    background-color: #276899;
    padding: 10px;
    min-height: 88vh;
}

.container {
    max-width: 1200px;
    margin: 5px auto;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.middle-avatar {
    width: 100px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.user__container {
    border-radius: 5px;
    background-color: white;
    margin: 5px auto;
}

.user {
    text-decoration: none;
    color: black;
}

.textarea {
    resize: none;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/