.links {
    background-color: #F9CB00;
}

.containerNav {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FF6A71;
    border-radius: 5px;
    padding: 5px;
}

.link {
    text-decoration: none;
    color: black;
}

.activeLink {
    color: #fff;
}