.links {
    background-color: #276899;
}

.containerNav {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.link {
    text-decoration: none;
    color: black;
}

.activeLink {
    color: deeppink;
}